Repository joluben/sigsim: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-tests, frontend-tests

backend-tests:
  name: Backend Tests
  entry: bash -c 'cd backend && python -m pytest tests/ -v'
  language: system
  pass_filenames: false

frontend-tests:
  name: Frontend Tests
  entry: bash -c 'cd frontend && npm test -- --watchAll=false'
  language: system
  pass_filenames: false

docs: Update README with current project status
  README.md
Due: none

Tarea 8: Implementar logViewer, configurar WebSocket client para actualizaciones y crear Buffer temporal para logs sin persistencia
  .kiro/specs/simulador-iot/tasks.md
  backend/app/simulation/engine.py
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/simulation/LogViewer.jsx
  frontend/src/components/simulation/SimulationControls.jsx
  frontend/src/components/simulation/SimulationDashboard.jsx
  frontend/src/components/simulation/index.js
  frontend/src/components/ui/scroll-area.jsx
  frontend/src/pages/SimulationPage.jsx
Due: backend-tests, frontend-tests

Tarea 8.3: Implemnentar sistema de notificaciones para errores de simulación, crear alertas visuales para fallos de conectividad y agregar tooltips y ayuda contextual
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/simulation/ConnectionAlert.jsx
  frontend/src/components/simulation/ConnectionStatus.jsx
  frontend/src/components/simulation/NotificationSettings.jsx
  frontend/src/components/simulation/SimulationControls.jsx
  frontend/src/components/simulation/SimulationDashboard.jsx
  frontend/src/components/simulation/SimulationNotifications.jsx
  frontend/src/components/ui/help-tooltip.jsx
  frontend/src/components/ui/label.jsx
  frontend/src/components/ui/slider.jsx
  frontend/src/components/ui/switch.jsx
  frontend/src/components/ui/toast.jsx
  frontend/src/hooks/useNotifications.js
  frontend/src/hooks/useSimulationNotifications.js
  frontend/src/hooks/useSimulationOperations.js
Due: frontend-tests

añade fichero roadmap y actualización de tareas
  .kiro/specs/simulador-iot/roadmap.md
  .kiro/specs/simulador-iot/tasks.md
Due: none

Tarea 9, mejoras en el backend y nuevos test en los conectores
  backend/app/api/v1/connectors.py
  backend/app/core/config.py
  backend/app/models/target.py
  backend/app/schemas/database.py
  backend/app/services/connector_service.py
  backend/app/services/simulation_service.py
  backend/app/simulation/connectors/__init__.py
  backend/app/simulation/connectors/ftp_connector.py
  backend/app/simulation/connectors/kafka_connector.py
  backend/app/simulation/connectors/websocket_connector.py
  backend/app/simulation/device_simulator.py
  backend/app/simulation/engine.py
  backend/app/simulation/payload_generators/__init__.py
  backend/app/simulation/payload_generators/base_generator.py
  backend/coverage.xml
  backend/docs/connector_factory.md
  backend/examples/connector_factory_demo.py
  backend/requirements.txt
  backend/tests/integration/test_kafka_integration.py
  backend/tests/simulation/test_ftp_connector.py
  backend/tests/simulation/test_kafka_connector.py
  backend/tests/simulation/test_websocket_connector.py
  backend/tests/simulation/test_websocket_reconnection_integration.py
Due: backend-tests

varios cambios en frontend y backend para levantar el docker
  .kiro/specs/simulador-iot/tasks.md
  backend/Dockerfile
  backend/app/core/config.py
  backend/requirements.txt
  docker-compose.yml
  frontend/Dockerfile
  frontend/index.html
  frontend/nginx.conf
  frontend/package.json
  frontend/src/components/ui/alert.jsx
  frontend/src/hooks/useRetry.js
  frontend/src/services/api.js
  mosquitto/config/mosquitto.conf
Due: backend-tests, frontend-tests

cambios en componentes dropdown y select en la creación de dispositivos
  frontend/src/components/devices/DeviceForm.jsx
  frontend/src/components/devices/DeviceFormSimple.jsx
  frontend/src/components/projects/ProjectDetail.jsx
  frontend/src/components/projects/ProjectForm.jsx
  frontend/src/components/ui/select.jsx
  frontend/src/hooks/useDevices.js
  frontend/src/hooks/useFormValidation.js
  frontend/src/pages/DeviceFormPage.jsx
  frontend/src/services/api.js
  frontend/src/services/deviceService.js
  frontend/src/services/payloadService.js
  frontend/src/services/targetSystemService.js
Due: frontend-tests

cambios en los requerimientos del generador de pyaloads y en las tareas
  .kiro/specs/simulador-iot/design.md
  .kiro/specs/simulador-iot/requirements.md
  .kiro/specs/simulador-iot/roadmap.md
  .kiro/specs/simulador-iot/tasks.md
Due: none

Path conditions:
  backend-tests: any of: ^backend/
  frontend-tests: any of: ^frontend/src/
